In [1]:
import sqlite3
connexion = sqlite3.connect('nominations.db')

In [3]:
connexion.execute('pragma table_info(nominations)').fetchall()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'INTEGER', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Character', 'TEXT', 0, None, 0)]

In [6]:
for row in connexion.execute('select * from nominations limit 10;').fetchall():
    print(row)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

# Créer la table ceremonies

In [8]:
# executemany ()

(2010, "Steve Martin"),
(2009, "Hugh Jackman"),
(2008, "Jon Stewart"),
(2007, "Ellen DeGeneres"),
(2006, "Jon Stewart"),
(2005, "Chris Rock"),
(2004, "Billy Crystal"),
(2003, "Steve Martin"),
(2002, "Whoopi Goldberg"),
(2001, "Steve Martin"),
(2000, "Billy Crystal")

(2000, 'Billy Crystal')

In [9]:
connexion.execute('create table ceremonies(id integer primary key, Year integer , Host text);').fetchall()

[]

In [10]:
connexion.execute('select name from sqlite_master where type= "table"').fetchall()

[('nominations',), ('ceremonies',)]

In [11]:
connexion.execute('pragma table_info(ceremonies);').fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'Year', 'INTEGER', 0, None, 0),
 (2, 'Host', 'TEXT', 0, None, 0)]

In [13]:
year_hosts= [
(2010, "Steve Martin"),
(2009, "Hugh Jackman"),
(2008, "Jon Stewart"),
(2007, "Ellen DeGeneres"),
(2006, "Jon Stewart"),
(2005, "Chris Rock"),
(2004, "Billy Crystal"),
(2003, "Steve Martin"),
(2002, "Whoopi Goldberg"),
(2001, "Steve Martin"),
(2000, "Billy Crystal")
]

In [14]:
insert_query= 'insert into ceremonies(Year, Host) values(?,?);'

In [15]:
connexion.executemany(insert_query,year_hosts).fetchall()

[]

In [16]:
connexion.commit()

In [18]:
connexion.execute('select * from ceremonies limit 10;').fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

# Contraintes de clé externe

In [19]:
connexion.execute('pragma foreign_keys = on;').fetchall()

[]

# Relation one-to-many avec la table nominations

In [35]:
connexion.execute('create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremony_id integer references ceremonies(id) );').fetchall()

OperationalError: table nominations_two already exists

In [36]:
connexion.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'category', 'TEXT', 0, None, 0),
 (2, 'nominee', 'TEXT', 0, None, 0),
 (3, 'movie', 'TEXT', 0, None, 0),
 (4, 'character', 'TEXT', 0, None, 0),
 (5, 'won', 'INTEGER', 0, None, 0),
 (6, 'ceremony_id', 'INTEGER', 0, None, 0)]

In [37]:
joined_nominations_query ="SELECT nominations.Category, nominations.Nominee, nominations.Movie, nominations.Character, nominations.Won, ceremonies.id FROM nominations INNER JOIN ceremonies on nominations.Year == ceremonies.Year;"
joined_nominations = connexion.execute(joined_nominations_query).fetchall()

In [38]:
insert_nominations_two= 'insert into nominations_two values (null, ?,?,?,?,?,?);'

In [39]:
connexion.executemany(insert_nominations_two,joined_nominations).fetchall()
connexion.commit()

# Supprimer et renommer des tables

In [50]:
#connexion.execute('DROP TABLE nominations;').fetchall()

In [44]:
#connexion.execute('ALTER TABLE nominations_two RENAME TO nominations; ').fetchall()

In [46]:
# connexion.execute('select name from sqlite_master where type="table";').fetchall()

# Créer une join table

In [48]:
movies = 'create table movies(id integer primary key, movie text);'
actors = 'create table actors(id integer primary key, actor text);'
movies_actors = 'create table movies_actors(id integer primary key, movie_id integer references movies(id),actor_id integer references actors(id));'
connexion.execute(movies)
connexion.execute(actors)
connexion.execute(movies_actors)

In [51]:
connexion.execute('select name from sqlite_master where type="table";').fetchall()

[('nominations',),
 ('ceremonies',),
 ('nominations_two',),
 ('movies',),
 ('actors',),
 ('movies_actors',)]

In [52]:
connexion.execute('pragma foreign_key_list(movies_actors);').fetchall()

[(0, 0, 'actors', 'actor_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE'),
 (1, 0, 'movies', 'movie_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE')]